# Compiled files
*.class
/build
/dist
/target
/examples/target
/lib

# JUnit output
/TEST*.xml

# Javadoc output
/doc

# Emacs temp files
*~

# Sigma temp files
/EBatchConfig.txt

# IDEA files
.idea

# NetBeans IDE
nbproject/private

# Emacs backup and temporary files
*~
.#*
*.txt

# macOS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

/MANIFEST.MF

# Utility files
word_pairs.db
allAxioms-eng.txt
allAxioms-log.txt
combined-eng.txt
combined-log.txt
groundRelations-eng.txt
groundRelations-log.txt
out-eng.txt
out-log.txt

# COCA
/corpora/COCA/*
/.ivy/
/corpora/FCE.mv.db
