# Compiled files
*.class
/build
/dist
/target
/examples/target

# JUnit output
/TEST*.xml

# Javadoc output
/doc

# Emacs temp files
*~

# Sigma temp files
/EBatchConfig.txt

# IDEA files
/.idea

# Build related files
/build
/lib/sigmakee.jar
/lib/stanford-corenlp-*.jar

# Emacs backup and temporary files
*~
.#*

# macOS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

